/* styles/CartPage.css */


.cart-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; 
  padding: 20px;
  text-align: center;
  background-color: #f0f0f0;
}

.cart-page h1 {
  font-size: 3rem;
  margin-bottom: 10px;
}

.cart-page p {
  font-size: 1.5rem;
  color: #666;
  max-width: 600px;
  margin-bottom: 20px;
}


.cart-page-container {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.cart-item-container {
  flex: 0 0 75%;
  padding-right: 10px;
  box-sizing: border-box;
}

.checkout-container {
  flex: 0 0 25%;
  padding-left: 10px;
  box-sizing: border-box;
}

.cart-item-container, .checkout-container {
  border-radius: 5px;
  padding: 15px;
}
  
.cart-page-container h1 {
  font-size: 3rem;
  margin-bottom: 10px;
}
  
.cart-page-container p {
  font-size: 1.5rem;
  color: #666;
  max-width: 600px;
  margin-bottom: 20px;
}

.shop-now-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 15px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  width: fit-content; /* Adjust width to fit content */
  margin-top: 20px;
  transition: background-color 0.3s ease;
}

.shop-now-button:hover {
  background-color: #0056b3;
}

.shop-now-button .button {
  border: none;
  background: none;
  color: inherit;
  font: inherit;
  cursor: pointer;
  outline: none;
  color: white;
  font-size: 18px;
  font-weight: bold;
}