/* styles/CartPage.css */

.cart-page-container {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.cart-item-container {
  flex: 0 0 75%;
  padding-right: 10px;
  box-sizing: border-box;
}

.checkout-container {
  flex: 0 0 25%;
  padding-left: 10px;
  box-sizing: border-box;
}

.cart-item-container, .checkout-container {
  border-radius: 5px;
  padding: 15px;
}
  
.cart-page-container h1 {
  font-size: 3rem;
  margin-bottom: 10px;
}
  
.cart-page-container p {
  font-size: 1.5rem;
  color: #666;
  max-width: 600px;
  margin-bottom: 20px;
}