/* ShoppingPage.css */
.shopping-page-container {
    width: 100%;
    padding: 0px;
    box-sizing: border-box;
    background-color: #fff;
  }
  
  .item-header {
    background-color: #fff;
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #fff;
    margin-right: 150px;
  }

  .item-header p {
    font-weight: bold;
    color: black;
  }
  
  .item-container {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, 1fr); /* Dynamic columns */
    margin-right: 150px;
  }

  
  @media (max-width: 1200px) {
    .item-container {
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* Adjust for smaller screens */
    }
  }
  
  @media (max-width: 768px) {
    .item-container {
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Adjust for mobile screens */
    }
  }