/* ShoppingPage.css */
.shopping-page-container {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
  }
  
  .header {
    background-color: #f4f4f4;
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ddd;
  }
  
  .item-container {
    display: grid;
    grid-gap: 20px;
    margin-top: 20px;
    grid-template-columns: repeat(3, 1fr); /* Dynamic columns */
    margin-right: 150px;
  }

  
  @media (max-width: 1200px) {
    .item-container {
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* Adjust for smaller screens */
    }
  }
  
  @media (max-width: 768px) {
    .item-container {
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Adjust for mobile screens */
    }
  }